<%- include('../header'); %>
<body>

<h1>Register</h1>
<nav>
    <a href="/login"><h3>Login!</h3></a>
</nav>
</br>
<form action="" method="post">
    <label>username</label>
    <input type="text" name="username">
    <label>password</label>
    <input  type="password" name="password"></br>
    
    <button type="submit"  value="">Submit</button>
</form>

</body>
</html>