<%- include('header'); %>
<body>
<h1>this is page</h1>
<form>
    <label>username</label>
    <input type="text" id="username">
    <label>password</label>
    <input  type="password" id="password"></br>
    
    <button onclick="">Submit</button>
</form>

</body>
</html>