<%- include('header'); %>
<body>
<h1>this is page</h1>
<form method="post">
    <label>username</label>
    <input type="text" name="username">
    <label>password</label>
    <input  type="password" name="password"></br>
    
    <button type="submit" name="">Submit</button>
</form>

</body>
</html>